@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --coffee: rgb(99,72,50);
    --darkCoffee: rgb(71, 47, 26);
}

html {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

/* Outermost grid layout */

body {
    display: grid;
    grid-template-rows: 100px minmax(0, 1fr) 50px;
}

/* Header Styling */

header {
    background-color: white;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 20px -20px;
    z-index: 0;
}

.pageTitle {
    font-size: 2.5rem;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    color: var(--coffee);
}

/* Main content styling */
main {
    background-color: rgb(240, 238, 232);
    width: 100%;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 150px minmax(0, 1fr);
    overflow-y: auto;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addCoffee {
    width: 150px;
    height: 50px;
    background-color: var(--coffee);
    color: white;
    font-size: 16px;
    font-weight: lighter;
    border: 0px solid white;
    border-radius: 10px;
    cursor: pointer;
}

#addCoffee:hover {
    background-color: var(--darkCoffee);
}

/* Card container & grid properties */

#cardContainer {
    display: grid;
    grid-template-rows: repeat(2, 30vh);
    grid-auto-rows: 30vh;
    min-height: 0;
}

@media only screen and (min-width: 320px) {
    /*For mobile-size screens*/
    #cardContainer {
        padding: 0px 10vw 50px 10vw;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 40px;
    }
}

@media only screen and (min-width: 600px) {
    /*For tablet-size screens*/
    #cardContainer {
        padding: 0px calc(50px + 5vw) 50px calc(50px + 5vw);
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 40px;
    }
}

@media only screen and (min-width: 1025px) {
    /*For desktop-size screens*/
    #cardContainer {
        padding: 0px calc(50px + 10vw) 50px calc(50px + 10vw);
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 40px;
    }
}

#cardContainer:after{
    content: "";
    display: block;
    height: 25px;
    width: 100%;
}

.coffeeCard {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3.5px 3.5px 0.5px;
    padding: 20px;
}

/* Coffee card layout styling */

.name {
    margin: 0; 
    padding: 0;
    text-align: center;
}

.roaster {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-style: italic;
}

.flavorProfile {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    text-align: center;
}

.isGood {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    border: 0px solid black;
    border-radius: 10px;
    background-color: var(--coffee);
    width: 120px;
    height: 35px;
    color: white;
    cursor: pointer;
}

/* Good vs Bad Coffee button/states: */
.goodCoffee {
    background-color: rgb(101, 218, 101);
    color: black;
}

.goodCoffee:hover {
    background-color: rgb(81, 198, 81);
    color: black;
}

.badCoffee {
    background-color: rgb(218, 101, 101);
    color: black;
}

.badCoffee:hover {
    background-color: rgb(198, 81, 81);
    color: black;
}

footer {
    background-color: white;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

/* MODAL STYLES */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.35);
}

.modalContent {
    background-color: rgb(240, 238, 232);
    margin: 150px auto; 
    padding: 20px;
    border: 0px solid white;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.closeButton {
    color: gray;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
    margin-top: -10px;
}

.closeButton:hover,
.closeButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalContent > h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    color: var(--coffee);
    font-size: 20px;
}

.modalContent > input {
    width: 85%;
    height: 30px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
}

.modalContent > input:focus {
    border: 2px solid var(--coffee);
    outline: none;
}

.inputRow {
    margin-top: 16px;
}

#newCoffeeSubmit {
    width: 40%;
    height: 30px;
    margin-top: 16px;
    border: none;
    background-color: var(--coffee);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#newCoffeeSubmit:hover {
    background-color: var(--darkCoffee);
}

input[type="checkbox"] {
    cursor: pointer;
}

.deleteBtn {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    border: 0px solid black;
    border-radius: 10px;
    background-color: var(--coffee);
    width: 120px;
    height: 35px;
    color: white;
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: rgb(212, 68, 68);
}